.app {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app__form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}